<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>98669513672-akqr66eg4pn90hbcj4m8ppe8bsbtve2k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.98669513672-akqr66eg4pn90hbcj4m8ppe8bsbtve2k</string>
	<key>API_KEY</key>
	<string>AIzaSyBJeMhj7UusPmIsE9UqgrVtzPcBtaQZ0QA</string>
	<key>GCM_SENDER_ID</key>
	<string>98669513672</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.finalProjectFlutter</string>
	<key>PROJECT_ID</key>
	<string>finalprojectgks</string>
	<key>STORAGE_BUCKET</key>
	<string>finalprojectgks.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:98669513672:ios:4f834714beab39694dcefd</string>
</dict>
</plist>